#container{
    width: 60%;
    background-color: #d7eefc;
    padding: 10px;
    margin: 0 auto;
}
body{
    background-image: url('alekosz.jpg');    
    background-repeat: repeat;
}
h1{
    text-align: center;
}